<h1>All events</h1>
<%= link_to "Create an event", new_event_path %>

<div class="container">
  <% @events_grouped_by_date.keys.sort.each do |start_time| %>
    <% events = @events_grouped_by_date[start_time] %>
    <h2 class="section-title">
    <% if start_time.to_date == Date.today %>
        Today
      <% elsif start_time.to_date == Date.yesterday %>
        Yesterday
      <% else %>
        <%= start_time.to_date.strftime('%A, %B %d, %Y') %>
      <% end %>
    </h2>
    <% events.each do |event| %>
      <h3><%= link_to event.title, event_path(event) %></h3>
      <p>Date: <%= event.start_time %></p>
      <p>Place: <%= event.location %></p>
      <p>Description: <%= event.description %></p>
    <% end %>
  <% end %>
</div>
<%= console %>
