<div class="container">
  <h1><%= @event.title %></h1>
  <%= link_to "Back to all events", events_path %>

  <p>Date: <%= @event.start_time %></p>
  <p>Place: <%= @event.location %></p>
  <p>Description: <%= @event.description %></p>
  <h5>People invited:</h5>
  <% @event.invitations.each do |invitation| %>
    <ul>
      <li><%= invitation.user.username %></li>
    </ul>
  <% end %>
  <%= link_to "Invite more friends", new_event_invitation_path(@event) %>
  <%= link_to "Update event", edit_event_path(@event) %>
  <div class="new-slot">
    <%= render "slots/new", slot: @slot %>
  </div>
    <% @slots.each_with_index do |slot, i| %>
      <div class="row">
        <div class="col">
          <p>Option <%= i + 1 %>: <%= slot.date.to_date.strftime('%A, %B %d, %Y') unless slot.date.nil? %></p>
        </div>
        <div class="col">
          <%= render "slots/edit", slot: slot %>
        </div>
        <div class="col">
          <p>People available:</p>
          <ul>
          <li><%= slot.user.username unless slot.user.nil? || slot.available? == false %></li>
          </ul>
        </div>
      </div>
    <% end %>
  <%= link_to "Cancel event", event_path(@event), data: { "turbo-method": :delete,  turbo_confirm: "Are you sure?" }  %>
</div>
<%= console %>
