<h1><%= @event.title %></h1>
<%= link_to "Back to all events", events_path %>

<p>Date: <%= @event.start_time %></p>
<p>Place: <%= @event.location %></p>
<p>Description: <%= @event.description %></p>
<h5>People invited:</h5>
<% @event.invitations.each do |invitation| %>
  <ul>
    <li><%= invitation.user.username %></li>
  </ul>
<% end %>

<%= link_to "Update event", edit_event_path(@event) %>
<%= render "slots/new", slot: @slot %>
  <% @slots.each do |slot| %>
    <div data-controller="vote">
      <p><%= slot.date %></p>
      <p>Current votes:</p>
      <p data-vote-target="vote" data-vote-value="plusone"><%= slot.votes %></p>
      <button data-action="click->vote#upvote">Yes, count me in!</button>
      <button>Sorry, not there</button>
    </div>
  <% end %>
<%= link_to "Cancel event", event_path(@event), data: { "turbo-method": :delete,  turbo_confirm: "Are you sure?" }  %>
<%= console %>
