<%# Ici on veut:  %>
<%# - Les events auxquels je suis invité %>
<%# - Les events dont il faut définir la date %>

<h2>Mes invitations</h2>
<%# CODE DUPPLIQUE events/index %>
<div class="container">
  <% @invitations_grouped_by_date.keys.sort.each do |start_time| %>
    <% invitations = @invitations_grouped_by_date[start_time] %>
    <h2 class="section-title">
    <% if start_time.to_date == Date.today %>
        Aujourd'hui
      <% elsif start_time.to_date == Date.tomorrow %>
        Demain
      <% else %>
        <%= start_time.to_date.strftime('%A, %B %d, %Y') %>
      <% end %>
    </h2>
    <% invitations.each do |invitation| %>
      <div class="event-container">
        <%= render "partials/event_card", event: invitation.event %>
        <div class="btn-container">
          <%= simple_form_for [invitation.event, invitation], local: true do |f| %>
            <%= f.hidden_field :participate, value: true %>
            <%= f.submit "Accepter" %>
          <% end %>
          <%= link_to "Décliner", event_invitation_path(invitation.event, invitation), data: { "turbo-method": :delete, confirm: "Are you sure you want to decline this invitation?" }, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%# FIN %>

<%# TODO %>❌
  <%# [✅] Bouton "Participer" --> update invitation avec participate? = true %>
  <%# [✅] Bouton "Décliner" --> griser l'évenement avec stimulus %>
  <%# [✅] Afficher les participants %>
<%# TODO %>

<%= console %>

<h2>Répondre aux sondages/slots</h2>
