<h1>Toutes les suggestions #INDEX</h1>
<div class="new-suggestion">
  <%= render "suggestions/new", suggestion: @suggestion %>
</div>
<% @suggestions.each_with_index do |suggestion, i| %>
  <div class="row">
    <div class="col">
    <% if @event.start_time.nil? %>
      <p>Option <%= i + 1 %>: <%= suggestion.date.to_date.strftime('%A, %B %d, %Y') unless suggestion.date.nil? %></p>
    <% else %>
      <p>Option <%= i + 1 %>: <%= suggestion.activity %></p>
    <% end %>
    </div>
      <div class="col">
        <% if !suggestion.answers.find { |answer| answer.user == current_user } %>
          <%= simple_form_for [suggestion, @answer] do |f| %>
            <%= f.hidden_field :available, value: true %>
            <%= f.submit "Yes, count me in!" %>
          <% end %>
        <% else %>
          <% suggestion.answers.map { |answer| answer if answer.user == current_user }.each do |existing_answer| %>
            <%= button_to "Sorry, finally I can't 😿", suggestion_answer_path(suggestion, existing_answer), turbo_confirm: "Are you sure?", :method => :delete %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <p>People available:</p>
        <% suggestion.answers.map { |answer| answer.user.username if answer.available? }.each do |people| %>
          <ul><li><%= people %></li></ul>
        <% end %>
      </div>
  </div>
<% end %>
